body{

}
h1{
  margin-left: 20px;
font-weight :normal;
font-family: 'Dancing Script', cursive;
}
h4{
  margin-left: 20px;
}
h2{
color: pink;
padding-left: 550px;
}
.head{
  font-size: 40px;
  padding-left: 610px;
  padding-top: 130px;
  color: #79B4B7;
}
.head:hover{
  color: black;
}
p{
  margin: 30px 20px 20px 400px;
  font-family: 'Assistant', sans-serif;
  font-weight: lighter;
  color: #444941;
  font-size: 20px;

  width: 50%

}
.navna{
  font-size: 30px;
  color: black;
  text-decoration: underline;
  margin-left: 60px
}
.navna:hover{
  color: #889EAF
}
.stick{
  font-size: 20px;
  margin: 60px 10px 20px 60px;
  font-family: 'Cinzel', serif;
  display: inline;
}
.last{
  margin: 90px 0 80px 0;   
  text-align: center;

}
.last:hover{
  color: #889EAF;
}
